################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.csv
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env/
.coverage
htmlcov/
/! OUTPUT
